@{
    ViewData["Title"] = "Modifier Categories Depense";
}
@model Application_PFA_SYNDIC.ModelView.CategorieDepences.categorieDepencesViewEdit
<div class="card">
    <div class="card-body">

        <h4 class="card-title">Categories Depences</h4>
        <form method="post" class="form-horizontal">
            <div class="form-group row mb-3">
                <label asp-for="Rubrique" class="col-3 col-form-label"></label>
                <div class="col-9">
                    <input asp-for="Rubrique" class="form-control" placeholder="rubrique">
                </div>
            </div>
            <div class="form-group mb-0 justify-content-end row">
                <div class="col-9">
                    <input type="submit" class="btn btn-info" value="Update" />
                </div>
            </div>
        </form>
    </div> 
</div> 